<div class="todo-form">
    <app-dynamic-form
        [fields]="fields"
        [form]="form"
        [isSubmitted]="isSubmitted"
        [errorSummary]="errorSummary"
    />

    <!-- Form Actions -->
    <div class="form-actions d-flex flex-column flex-sm-row gap-2 mt-4">
        <button type="button" class="btn-cancel order-2 order-sm-1" (click)="onCancel()">
            Cancel
        </button>
        <button type="button" class="btn-submit flex-grow-1 order-1 order-sm-2" [disabled]="form.invalid" (click)="onSubmit()">
            {{ isEditMode ? 'Save' : 'Create' }}
        </button>
    </div>
</div>
