<nav class="dashboard-side-nav-container">
    <ul class="side-nav-list">
        <li *ngFor="let item of navItems; trackBy: trackById">
            <button
                type="button"
                class="side-nav-item"
                [class.active]="activeSection === item.section"
                (click)="onSectionClick(item.section)"
            >
                <i [class]="'bi ' + item.icon"></i>
                <span>{{ item.label }}</span>
            </button>
        </li>
    </ul>
</nav>
