<section class="dashboard-container p-2 p-sm-3 p-lg-4">
    <div class="dashboard-header d-flex justify-content-center align-items-center px-3 py-3 px-sm-4 py-sm-4 px-lg-5 py-lg-4">
        <h1>Hi, {{ userData?.username }}!</h1>
    </div>
    
    <app-todo-list 
        [todos]="todos"
        [totalCount]="totalTodos"
        (addTodo)="onAddTodo()"
        (toggleTodo)="onToggleTodo($event)"
        (deleteTodo)="onDeleteTodo($event)"
    />
</section>

<!-- Add Todo Sidebar -->
<app-sidebar
    [isOpen]="isSidebarOpen"
    [title]="'Add New Todo'"
    [width]="'450px'"
    (closed)="onSidebarClose()"
>
    <app-todo-form
        #todoForm
        (submitTodo)="onTodoSubmit($event)"
        (cancel)="onSidebarClose()"
    />
</app-sidebar>