<section class="input-form" [class.input-form--checkbox]="isCheckbox" [class.input-form--filter]="isFilter">
    <div *ngIf="!isCheckbox && !isFilter" class="input-form__label-wrapper">
        <label class="input-form__label" for="input-{{ name }}">{{ label }}</label>
        <div class="input-form__error" *ngIf="isInvalid && errorMessage">
            {{ errorMessage }}
        </div>
    </div>
    <div class="input-form__input" [formGroup]="formGroup" [class.input-form__input--checkbox]="isCheckbox">
        <i *ngIf="field?.icon" [class]="'bi ' + field?.icon + ' input-icon'"></i>
        <input
            *ngIf="!isCheckbox"
            id="input-{{ name }}"
            [type]="inputType"
            [placeholder]="placeholder"
            [formControlName]="name"
            [ngStyle]="customInputStyle"
            [ngClass]="getInputClasses()"
            [class.input-with-icon]="isPasswordField || field?.icon"
            [class.input-with-left-icon]="field?.icon"
        />
        <div *ngIf="isCheckbox" class="checkbox-wrapper">
            <input
                id="input-{{ name }}"
                type="checkbox"
                [formControlName]="name"
                [ngClass]="getInputClasses()"
            />
            <label class="checkbox-label" for="input-{{ name }}">
                <span class="checkbox-custom"></span>
                <span class="checkbox-text">{{ label }}</span>
            </label>
        </div>
        <button
            *ngIf="isPasswordField"
            type="button"
            class="input-form__toggle-password"
            (click)="togglePasswordVisibility()"
            tabindex="-1"
        >
            <i [class]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
        </button>
    </div>
    <div *ngIf="isCheckbox && isInvalid && errorMessage" class="input-form__error">
        {{ errorMessage }}
    </div>
</section>
