:root {
  --white-color: #ffffff;
  --card-color: #f0f0f0;
  --black-color: #000000;
  --primary-color: #0c183d;
  --danger-color: #dc3545;
  --danger-color-rgb: 220, 53, 69;
  --danger-color-dark: #c82333;
  --warning-color: #ff9800;
  --warning-color-rgb: 255, 152, 0;
}
