<div class="login-container">
    <app-card
        [card]="{ title: 'Forgot Password' }"
        class="login-form"
    >
        <div *ngIf="isSuccess" class="success-message-container">
            <div class="success-icon">
                <i class="bi bi-check-circle-fill"></i>
            </div>
            <h3>Check your email</h3>
            <p>We've sent a password reset link to your email address if an account exists.</p>
            <div class="mt-4">
                <button type="button" class="card-button" [routerLink]="['/', authPaths.LOGIN]">Back to Login</button>
            </div>
        </div>

        <ng-container *ngIf="!isSuccess">
            <p class="form-description">Enter your email address below and we'll send you a link to reset your password.</p>
            
            <app-dynamic-form 
                [fields]="fields" 
                [form]="form" 
                [isSubmitted]="isSubmitted" 
                [errorSummary]="errorSummary"
            />
            
            <div class="mt-4">
                <button type="button" class="card-button" (click)="onSubmit()">Send Reset Link</button>
            </div>

            <div class="mt-3 text-center">
                <a [routerLink]="['/', authPaths.LOGIN]" class="back-link">
                    <i class="bi bi-arrow-left"></i> Back to Login
                </a>
            </div>
        </ng-container>
    </app-card>
</div>